body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

.container-fluid {
    padding: 20px;
}

#navbar {
    background-color: #343a40; 
    padding: 10px;
    margin-bottom: 20px;
}

#navbar a {
    color: #ffffff; 
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s ease;
}

#navbar a:hover {
    color: #17a2b8; 
}

.btn {
    background-color: #007bff; 
    color: #ffffff; 
    border: none;
    margin-right: 10px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0056b3; 
}

#filters {
    margin-bottom: 20px;
}

#placeList {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    width: 45%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

h2 {
    color: #343a40;
}

.form-control {
    margin-bottom: 10px;
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation: fadeIn 0.5s ease-in-out;
}


@media (max-width: 768px) {
    #navbar {
        justify-content: center;
    }
    #filters {
        flex-direction: column;
        align-items: center;
    }
}

.img-fluid{
    height: 200px;
    margin: auto;
    width: 200px;
}

