
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
background-image: url("https://5.imimg.com/data5/ZV/IN/YR/SELLER-89215280/lms-library-management-system--500x500.jpg");
}

h1 {
    color: #333;
}

.container {
    width: 55%;
    max-width: 1200px;
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.navbar {
    width: 100%;
    background-color: #333;
    overflow: hidden;
}

.navbar a {
    float:left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.navbar a:hover {
    background-color: #575757;
    color: #fff;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form input, form select, form button {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

form input:focus, form select:focus {
    border-color: #202327;
    outline: none;
    box-shadow: 0 0 5px rgba(44, 51, 57, 0.5);
}

form button {
    background-color: #32363a;
    color: #b4b4b4;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #1f2122;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

td button {
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

td button:hover {
    background-color: #ddd;
}


@media (max-width: 768px) {
    .container {
        width: 90%;
    }

    form input, form select, form button {
        width: 100%;
    }

    .navbar a {
        padding: 10px 15px;
    }
}
