button{
    display: flex;
    margin: 5px;
    margin-top: 0;
    padding: 5px;
    border: 1px solid rgb(226, 224, 224);
    background-color: rgb(236, 232, 227);
    cursor: pointer;
}


/* second */

/* style.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 400px;
    max-width: 100%;
}

h3 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

input[type="text"] {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

input[type="text"]:focus {
    outline: none;
    border-color: #007bff;
}

input[type="submit"] {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

#quizContainer {
    margin-top: 20px;
}

#quizContainer div {
    margin-bottom: 20px;
}

#quizContainer h5 {
    margin: 0 0 10px 0;
    color: #555;
}

#quizContainer button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    border: none;
    border-radius: 4px;
    background-color: #f8f9fa;
    color: #333;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#quizContainer button:hover {
    background-color: #e2e6ea;
}

#quizContainer button:focus {
    outline: none;
}

#quizContainer button.correct {
    background-color: green;
    color: #fff;
}

#quizContainer button.incorrect {
    background-color: red;
    color: #fff;
}

#Question {
    border-color: #ccc;
    transition: border-color 0.3s;
}

#Question.green-border {
    border-color: green;
}

#Question.red-border {
    border-color: red;
}
